*
{
    box-sizing: border-box;
}
body
{
    background-color: rgb(224, 179, 162);
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}
.container
{
    width: 400px;
    background-color: rgb(255, 94, 0);
    text-align: center;
    margin: 0 auto;
    padding: 20px 15px;
}
.container h1
{
    margin-right: 10px;
}
.container input
{
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    outline: none;
    margin-right: 10px;
}
.container button
{
    color: white;
    background-color: rgb(57, 143, 255);
    padding: 8px 60px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}
.list
{
    margin: 15px auto;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 4px;
}
.fal
{
    font-size: 18px;
    cursor: pointer;
}
.list>div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: sandybrown;
    padding: 0 2px;
}

