*
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root
{
    --primary: rgb(255, 145, 0);
}
body
{
    margin: 0;
}
header
{
    background-color: rgb(26, 23, 23);
}
.wrapper
{
    max-width: 900px;
    margin: 0 auto;
}
.topContainer
{
    display: flex;
    padding: 20px 0;
    align-items: center;
}
.topContainer .logo
{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}
.topContainer .search
{
    flex-grow: 1;
    display: flex;
    margin: 0 40px;
}
.topContainer .search .search-icon
{
    padding: 20px;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.topContainer .search input
{
    padding: 12px 7px;
    border: none;
    outline: none;
}
.topContainer .search .search-btn
{
    border: none;
    background-color: var(--primary);
    outline: none;
    color: white;
    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}