*
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root
{
    --primary: rgb(255, 145, 0);
}
body
{
    margin: 0;
}
header
{
    background-color: rgb(26, 23, 23);
}
.wrapper
{
    max-width: 900px;
    margin: 0 auto;
}
.topContainer
{
    display: flex;
    padding: 20px 0;
}
.topContainer .logo
{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}